<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embassy of the Free Mind - {{ title }}</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="icon" href="/assets/logo icon.png" type="image/x-icon" />
</head>

<header>
    <picture>
        <source type="image/avif" srcset="/assets/logo.avif">
        <source type="image/webp" srcset="/assets/logo.webp">
        <img class="logo" src="/assets/logo.png" width="300" height="150"
            alt="logo embassy of the free mind">
    </picture>

    <nav class="nav-menu">
        <picture>
            <source type="image/avif" srcset="/assets/menu-svgrepo-com.avif">
            <source type="image/webp" srcset="/assets/menu-svgrepo-com.webp">
            <img class="menu-img" src="/assets/menu-svgrepo-com.svg" width="80" height="80"
                alt="menu">
        </picture>
    </nav>
</header>