<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embassy of the Free Mind - {{ title }}</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="icon" href="/assets/logo icon.png" type="image/x-icon" />
</head>

<header>
    
</header>