{% render 'partials/head.liquid', title: 'Home' %}

<main>

    <img src="" alt="">

    <section>
        <h1></h1>
        <p></p>
        <img src="" alt="">
    </section>

    <div>
        <div class="container">
            <p><span>Jaar</span><span>:</span><span></span></p>
            <p><span>Plaats van uitgave</span><span>:</span><span></span></p>
            <p><span>UBN</span><span>:</span><span></span></p>
            <p><span>Signatuur</span><span>:</span><span></span></p>
            <p><span>Opmerkingen</span><span>:</span><span></span></p>
            <p><span>Bibliografie</span><span>:</span><span></span></p>
        </div>
    </div>


    <section>
        <h2></h2>
        <div>
            <p></p>
            <input type="text" name="" id="">

            <p></p>
            <input type="text" name="" id="">
        </div>
    </section>

</main>

{% render 'partials/footer.liquid' %}