{% render 'partials/head.liquid', title: 'Online catalogus' %}

<section class="catalog-search-container">
    <h1 class="heading-overview">Online Catalougus</h1>

    <div class="searchbar">
        <input type="search" id="search" label="typ hier wat je zoekt" placeholder="Zoeken...">
        <button class="click-search"><img class="search-img" src="/assets/search.png" alt="search"></button>
    </div>
</section>

{% render 'partials/footer.liquid' %}