body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.skip {
    position: absolute;
    background-color: var(--bg-button);
    color: var(--text-secondary);
    border-radius: var(--border-radius-general);
    padding: 1em;
    margin: 1em;
    text-decoration: none;
    font-size: 18px;
    z-index: 100;
    transform: translateY(-200%);
    transition: transform 0.3s;

    &:focus {
        transform: translate(0%);
    }
}

/*MARK: HEADER */

header {
    background-color: var(--bg-general);
    position: sticky;
    top: 0;
    z-index: 2;
    container-type: scroll-state;
    box-shadow: none;
    transition: box-shadow 0.5s ease;

    .header-style {
        display: grid;
        grid-template-columns: 1fr max-content;
        padding: 1em;
        border: 0 solid transparent;
        transition: border 0.5s ease, padding 0.5s ease;
        height: 5em;

        @container scroll-state(stuck:top) {
            border: 5px solid var(--bg-button);
            padding: calc(1em - 5px);
        }
    }

    .logo {
        display: flex;
        justify-self: center;

        @media screen and (min-width: 400px) {
            margin: 0em 0em 0em 3em;
        }
    }

    .nav-menu {
        display: flex;
        justify-content: end;
    }

    .btn-menu {
        background-color: transparent;
        border: none;
    }
}

/*MARK: OVERVIEW */

.mandala-left,
.mandala-right {
    display: none;
}

@media screen and (min-width: 1000px) {

    .mandala-left,
    .mandala-right {
        display: flex;
        justify-content: space-evenly;
    }
}

.catalog-search-container {
    @media screen and (min-width: 1000px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content max-content;
    }
}

.searchbar {
    @media screen and (min-width: 1000px) {
        grid-column: 1 / 4;
    }
}

.catalog-search-container {
    background-color: var(--bg-general);
    padding: 1em 1em 2em 1em;
    margin: 1em;
    border: var(--border-gernal);
    border-radius: var(--border-radius-general);

    .heading-overview {
        font-weight: 500;
        color: var(--text-general);
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: var(--heading-title);
    }

    .searchbar {
        position: relative;
        width: 100%;
        margin: 0 auto;

        @media screen and (min-width: 800px) {
            max-width: 600px;
        }
    }

    .label-search {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(0, 0, 0, 0);
        color: var(--text-general);
    }

    #search {
        padding: 1em;
        padding-left: 3em;
        padding-right: 4em;
        width: 100%;
        border-radius: var(--border-radius-zoekbalk);
        background-position: 1em;
        background-repeat: no-repeat;
        background-image: url(/assets/microfoon.png);
        font-size: var(--text-paragraph);
        border: none;
    }
    
    .click-search {
        position: absolute;
        right: 0em;
        width: 5em;
        height: 3.8em;
        padding: 1em;
        background-color: var(--bg-button);
        border-radius: 0px var(--border-radius-zoekbalk) var(--border-radius-zoekbalk) 0px;
        border: none;
    }
}

.filters-catalog {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: .5em;
    margin: 0em 1em 0em 1em;
    width: fit-content;

    @media screen and (min-width:550px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: unset;
    }

    @media screen and (min-width:950px) {
        display: flex;
        flex-direction: row;
    }
}

#auteur,
#plaats-van-uitgave,
#year,
#gedigitaliseerde-publicaties {
  padding: .5em;
  border-radius: var(--border-radius-secondary);
  cursor: pointer;
  font-size: var(--text-paragraph);
  background-color: var(--bg-secondary);
  color: var(--text-general);
  border: none;
  filter: var(--drop-shadow-buttons);

  @media screen and (min-width: 550px) {
    font-size: var(--text-link-button);
  }
}

@supports (appearance: base-select) {

  #auteur,
  #plaats-van-uitgave,
  #year,
  #gedigitaliseerde-publicaties {
    appearance: base-select;
  }

  #auteur::picker(select),
  #plaats-van-uitgave::picker(select),
  #year::picker(select),
  #gedigitaliseerde-publicaties::picker(select) {
    appearance: base-select;
    padding: .5em;
    margin-bottom: .5em;
    border: var(--border-secondary);
    background: var(--bg-button);
    border-radius: var(--border-radius-general);
    font-weight: 400;
  }

  #auteur::picker-icon,
  #plaats-van-uitgave::picker-icon,
  #year::picker-icon,
  #gedigitaliseerde-publicaties::picker-icon {
    content: "";
    display: flex;
    align-self: center;
    width: .5em;
    height: .5em;
    background-color: var(--bg-body);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    transition: transform 0.5s;
  }

  #auteur:open::picker-icon,
  #plaats-van-uitgave:open::picker-icon,
  #year:open::picker-icon,
  #gedigitaliseerde-publicaties:open::picker-icon {
    transform: rotate(180deg);
  }

  option {
    padding: .5em;
    border-top: var(--border-secondary);
    cursor: pointer;
    transition: color 0.2s ease-out;
    color: var(--text-secondary);
    font-size: var(--text-paragraph);
  }

  option:where(:hover, :focus, :active),
  option:checked {
    background: var(--bg-secondary);
    color: var(--text-general);
  }

  option:checked::checkmark {
    content: url("/assets/check.svg"); 
    width: 1.5em;
    height: 1.5em;
  }
}

.container-resultaten {
    padding: 1em;

    .book-resultaten {
        color: var(--text-secondary);
        font-size: var(--text-info-detail);
        display: flex;
        justify-content: center;
    }

    .line {
        display: flex;
        justify-self: center;
        border: none;
        height: 2px;
        background-color: var(--bg-general);
        width: 15em;
    }
}


.all-books {

    @media screen and (min-width:1000px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width:1920px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .books-container {
        background-color: var(--bg-general);
        color: var(--text-general);
        border-radius: var(--border-radius-general);
        border: var(--border-gernal);
        margin: 1em;
        padding: 1em;
        filter: var(--drop-shadow-cards);

        @media screen and (min-width:550px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (min-width:750px) {
            display: unset;
            min-width: 20em;
            padding: 0;
        }

        @media screen and (min-width:750px) {
            display: grid;
            min-width: 20em;
        }
    }

    .books-img {
        display: flex;
        justify-self: center;
        padding: 1em;

        @media screen and (min-width:550px) {
            align-self: center;
            width: 200px;
            height: 200px;
        }
    }

    .all-text {
        display: flex;
        flex-direction: column;
        margin: 1em;
        padding: .5em;
    }

    .text-info {
        margin: .5em;
    }

    .strong-text {
        font-weight: 500;
    }

    .to-detail {
        display: flex;
        justify-content: center;
        gap: .5em;
        background-color: var(--bg-button);
        color: var(--text-secondary);
        border-radius: var(--border-radius-secondary);
        font-size: var(--text-link-button);
        padding: .5em;
        margin: auto 1em 1em 0em;
        text-decoration: none;
    }

    .arrow-img {
        display: flex;
        align-self: center;
    }
}



/*MARK: DETAIL */

.detail {
    @media screen and (min-width:1000px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

.link {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: fit-content;

    @media screen and (min-width:1000px) {
        position: fixed;
    }
}

.text-back {
    color: var(--text-secondary);
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    padding: 1em;

    @media screen and (min-width:1000px) {
        grid-column: 1;
    }
}


/*animatie linkje terug naar overview*/

.text-back:hover {
    color: var(--text-secondary);
  }

  .text-back::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 18px;
    width: 100%;
    height: 2px;
    margin: 1em;
    background: var(--text-secondary);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
  }

  .text-back:hover::after{
    transform: scaleX(1);
    transform-origin: left;
  }

  .text-back::before{
    content:"⬅";
    margin:  0 0.5rem;
    color: var(--bg-general);
    font-size: 30px;
  }

.carousel {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    anchor-name: --carousel;
    margin: 1em 4em 1em 4em;
    gap: 1em;

    @media screen and (min-width:1000px) {
        grid-column: 1;
        position: sticky;
        top: 250px;
        /* afstand vanaf bovenkant viewport */
        align-self: start;
        z-index: 10;
    }
}

.detail-book-img {
    scroll-snap-align: center;

    @media screen and (min-width:400px) {
        width: 250px;
        height: 250px;
    }

    @media screen and (min-width:600px) {
        width: 300px;
        height: 300px;
    }

    @media screen and (min-width:1280px) {
        width: 350px;
        height: 350px;
    }
}

.buttons-carousel {
    &::scroll-button(*) {
        position: fixed;
        position-anchor: --carousel;
        background-color: var(--bg-secondary);
        width: 3.5em;
        height: 3.5em;
        border-radius: var(--border-radius-secondary);
        border: none;
        margin: .5em;
        filter: var(--drop-shadow-buttons);
    }

    &::scroll-button(right) {
        position-area: inline-end center;
        content: "⮕" / "Scroll Right";
        color: var(--text-general);
    }

    &::scroll-button(left) {
        position-area: inline-start center;
        content: "⬅" / "Scroll Left";
        color: var(--text-general);
    }

    &::scroll-button(*):disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    &::scroll-button(*):not(:disabled):is(:hover, :active) {
        transform: scale(1.05);
        transition: all 0.3s ease;
        filter: var(--drop-shadow-buttons);
        cursor: pointer;
    }
}

.container-title {
    margin: 2em;

    @media screen and (min-width:1000px) {
        grid-column: 2;
    }
}

.titel-book {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: var(--heading-title);
}

.auteur-book {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: var(--subtitle-detail);
}

.btn-share {
    display: flex;
    justify-self: center;
    margin: 1.5em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.container-info-book {
    background-color: var(--bg-general);
    border-radius: var(--border-radius-general);
    margin: 1em;
    padding: 1em;

    @media screen and (min-width:650px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0em 1em;
    }

    @media screen and (min-width:1000px) {
        grid-column: 2;
    }
}

.info-book {
    color: var(--text-secondary);
    background-color: var(--bg-body);
    padding: .5em;
    border-radius: var(--border-radius-secondary);
    font-weight: 500;
    font-size: var(--text-link-button);

    @media screen and (min-width:650px) {
        margin: .5em;
    }
}

.info-book-answer {
    font-weight: 400;
}

.container-reacties {
    margin: 1em;
    grid-column: 2;

    .subtitle-detail {
        margin: 2em 0em 1em 0em;
    }

    .wrapper-container {
        background-color: var(--bg-general);
        border-radius: var(--border-radius-general);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .text-reactie {
        padding: 1em 1em 0em 1em;
        color: var(--text-general);
        font-size: var(--subtitle);
        display: flex;
        align-self: start;
    }

    #reactie {
        padding: 1em;
        margin: 1em;
        border-radius: var(--border-radius-zoekbalk);
        font-size: var(--text-paragraph);
        width: 75%;
        max-width: 550px;
        display: flex;
        justify-self: center;
    }

    .post-reactie {
        display: flex;
        justify-self: center;
        background-color: var(--bg-button);
        border-radius: var(--border-radius-secondary);
        border: none;
        margin: 1em;
    }

    .text-btn-post {
        font-size: var(--text-paragraph);
        display: flex;
        margin: auto;
        padding: 1em;
        cursor: pointer;
    }
}

.container-comment {
    background-color: var(--bg-general);
    border-radius: var(--border-radius-general);
    margin: 1em;
    padding: 1em;

    @media screen and (min-width:1000px) {
        grid-column: 2;
    }
}

.comments {
    background-color: var(--bg-body);
    border-radius: var(--border-radius-secondary);
    padding: 1em;
}

.empty-no-reactie,
.empty-no-submit {
    color: var(--text-general);
}

.empty-no-reactie {
    font-size: var(--text-link-button);
}

.empty-no-submit {
    font-size: var(--text-paragraph);
}

@view-transition {
    navigation: auto;
  }


  .post-reactie .loading {
    content: url('/assets/loading.svg');
    font-size: 16px;
    animation: rotation 1s linear infinite;
    /* padding: .5em; */
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}