body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.skip {
    position: absolute;
    background-color: var(--bg-button);
    color: var(--text-secondary);
    border-radius: var(--border-radius-general);
    padding: 1em;
    margin: 1em;
    text-decoration: none;
    font-size: 18px;
    z-index: 100;
    transform: translateY(-200%);
    transition: transform 0.3s;
  
    &:focus {
      transform: translate(0%);
    }
  }

/*MARK: HEADER */

header {
    background-color: var(--bg-general);
    position: sticky;
    top: 0;
    z-index: 2;
    container-type:scroll-state;
    box-shadow: none;
    transition: box-shadow 0.5s ease;

    .header-style{
        display: grid;
        grid-template-columns: 1fr max-content;
        padding: 1em;
        border: 0 solid transparent;
        transition: border 0.5s ease, padding 0.5s ease;
        height: 5em;

        @container scroll-state(stuck:top){
           border:  5px solid var(--bg-button);
            padding: calc(1em - 5px); 
        }
    }

    .logo {
        display: flex;
        justify-self: center;

        @media screen and (min-width: 400px) {
            margin: 0em 0em 0em 3em;
        }
    }

    .nav-menu {
        display: flex;
        justify-content: end;
    }

    .btn-menu {
        background-color: transparent;
        border: none;
    }
}

/*MARK: OVERVIEW */

.catalog-search-container {
    background-color: var(--bg-general);
    padding: 1em 1em 2em 1em;
    margin: 1em;
    border: var(--border-gernal);
    border-radius: var(--border-radius-general);

    .heading-overview {
        font-weight: 500;
        color: var(--text-general);
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: var(--heading-title);
    }

    .searchbar {
        position: relative;
        width: 100%;
        margin: 0 auto;

        @media screen and (min-width: 800px) {
            max-width: 600px;
        }
    }

    #search {
        padding: 1em;
        padding-left: 3em;
        padding-right: 4em;
        width: 100%;
        border-radius: var(--border-radius-zoekbalk);
        background-position: 1em;
        background-repeat: no-repeat;
        background-image: url(/assets/microfoon.png);
        font-size: var(--text-paragraph);
        border: none;
    }

    .click-search {
        position: absolute;
        right: 0em;
        width: 5em;
        height: 3.8em;
        padding: 1em;
        background-color: var(--bg-button);
        border-radius: 0px var(--border-radius-zoekbalk) var(--border-radius-zoekbalk) 0px;
        border: none;
    }
}

.filters-catalog {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: .5em;
    margin: 0em 1em 0em 1em;
    width: fit-content;

    @media screen and (min-width:550px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: unset;
    }

    @media screen and (min-width:900px) {
        display: flex;
        flex-direction: row;
    }


    #auteur,
    #plaats-van-uitgave,
    #year,
    #gedigitaliseerde-publicaties {
        padding: .5em;
        border-radius: var(--border-radius-secondary);
        cursor: pointer;
        font-size: var(--text-paragraph);
        background-color: var(--bg-secondary);
        color: var(--text-general);
        border: none;
        filter: var(--drop-shadow-buttons);
        max-width: 250px;

        @media screen and (min-width:550px) {
            font-size: var(--text-link-button);
        }
    }
}

.container-resultaten {
    padding: 1em;

    .book-resultaten {
        color: var(--text-secondary);
        font-size: var(--text-info-detail);
        display: flex;
        justify-content: center;
    }

    .line {
        display: flex;
        justify-self: center;
        border: none;
        height: 2px;
        background-color: var(--bg-general);
        width: 15em;
    }
}


.all-books {

    @media screen and (min-width:1000px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width:1920px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .books-container {
        background-color: var(--bg-general);
        color: var(--text-general);
        border-radius: var(--border-radius-general);
        border: var(--border-gernal);
        margin: 1em;
        padding: 1em;
        filter: var(--drop-shadow-cards);

        @media screen and (min-width:550px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (min-width:750px) {
            display: unset;
            min-width: 20em;
            padding: 0;
        }

        @media screen and (min-width:750px) {
            display: grid;
            min-width: 20em;
        }
    }

    .books-img {
        display: flex;
        justify-self: center;
        padding: 1em;

        @media screen and (min-width:550px) {
           align-self: center;
           width: 200px;
           height: 200px;
        }
    }

    .all-text {
        display: flex;
        flex-direction: column;
        margin: 1em;
        padding: .5em;
    }

    .text-info{
        margin: .5em;
    }

    .strong-text{
        font-weight: 500;
    }
    
    .to-detail {
        display: flex;
        justify-content: center;
        gap: .5em;
        background-color: var(--bg-button);
        color: var(--text-secondary);
        border-radius: var(--border-radius-secondary);
        font-size: var(--text-link-button);
        padding: .5em;
        margin: auto 1em 1em 0em;
        text-decoration: none;
    }

    .arrow-img {
        display: flex;
        align-self: center;
    }
}