@font-face {
    font-family: 'Poppins';
    src: url('/font/Poppins-Regular.woff2')format('woff2');
    font-weight: 400;
    font-display: swap
}

@font-face {
    font-family: 'Poppins';
    src: url('/font/Poppins-Medium.woff2')format('woff2');
    font-weight: 500;
    font-display: swap
}

@font-face {
    font-family: 'Poppins';
    src: url('/font/Poppins-Bold.woff2')format('woff2');
    font-weight: 700;
    font-display: swap
}



body {
    /*COLOR*/
    --bg-body: #ffffff;
    --bg-general: #092644;
    --bg-secondary: #73444F;
    --bg-button: #B89B67;

    --text-general: #ffffff;
    --text-secondary: #092644;
    --text-placeholder: #444444;

    /*BORDER-RADIUS*/
    --border-radius-general: 15px;
    --border-radius-secondary: 10px;
    --border-radius-zoekbalk: 30px;

    /*BORDER*/
    --border-gernal: 3px solid var(--bg-button);
    --border-secondary: 1px solid var(--bg-general);
    --border-header-scroll: 5px solid var(--bg-button);

    /*FONT-SIZE*/
    --heading-title: clamp(1.6875rem, 1.525rem + 0.8125vw, 2.5rem);
    --subtitle: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    --text-info-detail: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
    --text-paragraph: 16px;
    --text-link-button: 18px;

    /*DROP-SHADOW*/
    --drop-shadow-buttons: drop-shadow( 2px 3px 4px  rgba(0, 0, 0, 0.3));
    --drop-shadow-cards: drop-shadow( 2px 5px 8px  rgba(0, 0, 0, 0.3));
}